@font-face {
  font-family: "iconfont"; /* Project id 2736700 */
  src: url('iconfont.woff2?t=1639449758445') format('woff2'),
       url('iconfont.woff?t=1639449758445') format('woff'),
       url('iconfont.ttf?t=1639449758445') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongzhizhongxin:before {
  content: "\eb43";
}

.icon-gangwei:before {
  content: "\e658";
}

.icon-rizhi:before {
  content: "\e613";
}

.icon-hezuohuoban:before {
  content: "\e7e6";
}

.icon-caidan:before {
  content: "\e60e";
}

.icon-kefuyouxian:before {
  content: "\e600";
}

.icon-service:before {
  content: "\e764";
}

.icon-account-fill:before {
  content: "\e7aa";
}

.icon-zhongjianren:before {
  content: "\e7c9";
}

.icon-guanliyuan:before {
  content: "\e7cf";
}

.icon-banquan:before {
  content: "\e98b";
}

.icon-dicengjiagou:before {
  content: "\e98c";
}

.icon-cangchucangku:before {
  content: "\e98d";
}

.icon-chayan:before {
  content: "\e98e";
}

.icon-erweima:before {
  content: "\e98f";
}

.icon-fapiao:before {
  content: "\e990";
}

.icon-fenbushi:before {
  content: "\e991";
}

.icon-cunchu:before {
  content: "\e992";
}

.icon-dingdan:before {
  content: "\e993";
}

.icon-fenzhi:before {
  content: "\e994";
}

.icon-hetong:before {
  content: "\e995";
}

.icon-jishufuwu:before {
  content: "\e996";
}

.icon-jiangben:before {
  content: "\e997";
}

.icon-jiekoupeizhi:before {
  content: "\e998";
}

.icon-jianguanfengkong:before {
  content: "\e999";
}

.icon-maijiagouwuche:before {
  content: "\e99a";
}

.icon-maijiadianpu:before {
  content: "\e99b";
}

.icon-guanli:before {
  content: "\e99c";
}

.icon-renminbi:before {
  content: "\e99d";
}

.icon-shijianchuo:before {
  content: "\e99e";
}

.icon-wuliu:before {
  content: "\e99f";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-data:before {
  content: "\e623";
}

.icon-data1:before {
  content: "\e602";
}

.icon-zuoguanbi:before {
  content: "\e6ae";
}

.icon-youzhankai:before {
  content: "\e6ba";
}

.icon-shop:before {
  content: "\e7d5";
}

.icon-Settingscontroloptions:before {
  content: "\e9d3";
}

.icon-read:before {
  content: "\e742";
}

.icon-fapiaojine:before {
  content: "\e603";
}

.icon-quanxianguanli:before {
  content: "\e612";
}

